*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display:flex;
    flex-direction: column;
}
.header{
    background-color: green;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.start{
    padding: 5px 10px;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
}
#grid{
    display:flex;
    flex-direction: column;
}
.row{
    display: flex;
    
}
.cell{
    outline: solid 1px black;
    height:100px;
    width:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.game-result{
    display: none;
    position:fixed;
    z-index: 1;
    width:50%;
    height:50%;
    background-color: green;
    font-size:32px;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
}
.play-again{
    display: block;
    padding: 5px 15px;
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
}